/* Mail page */
#message {
    width : 300px;
    height: 200px;
    resize: unset;
    padding : 10px;

}

#sendTo, #subject{
    padding : 10px;
    width: 300px;
    background-color: white;
}

#response {
    width: 300px;
    padding: 20px;
    position: relative;
    z-index: 3;
}

.tt-open {
    background:#C99381;
    padding: 10px;
    width: 100%;
}


/* /mail page */