.topTitle {
    background: white;
    
}

#intro-text {
    padding: 30px;
}

#intro-text p {
    font-size: 125%;
}

#budget {
    color: blue;
}

.editBudget{
    cursor: pointer;
}

.topIcon {
    margin-bottom: 20px;
}

/* Cool checkbox */
.label__checkbox {
  display: none;
}
.label__check {
  border-radius: 50%;
  border: 5px solid rgba(88, 47, 33, 0.404);
  background: white;
  vertical-align: middle;
  width: 2.2em;
  height: 2.2em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border .3s ease;
}
.label__check i.icon {
  opacity: 0.8;
  font-size: 8px;
  color: rgb(88, 47, 33);
  transition: opacity .3s .1s ease;
  -webkit-text-stroke: 3px rgba(0, 0, 0, 0.5);
}
.label__check:hover {
  border: 5px solid rgba(70, 40, 40, 0.2);
}
.label__checkbox:checked + .label__text .label__check {
  -webkit-animation: check 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;
          animation: check 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;
}
.label__checkbox:checked + .label__text .label__check .icon {
  opacity: 1;
  -webkit-transform: scale(0);
          transform: scale(0);
  color: white;
  -webkit-text-stroke: 0;
  -webkit-animation: icon 0.3s cubic-bezier(1, 0.008, 0.565, 1.65) 0.1s 1 forwards;
          animation: icon 0.3s cubic-bezier(1, 0.008, 0.565, 1.65) 0.1s 1 forwards;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@-webkit-keyframes icon {
  from {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes icon {
  from {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes check {
  0% {
    width: 1.5em;
    height: 1.5em;
    border-width: 5px;
  }
  10% {
    width: 1.5em;
    height: 1.5em;
    opacity: 0.1;
    background: rgba(0, 0, 0, 0.2);
    border-width: 15px;
  }
  12% {
    width: 1.5em;
    height: 1.5em;
    opacity: 0.4;
    background: rgba(0, 0, 0, 0.1);
    border-width: 0;
  }
  50% {
    width: 2.2em;
    height: 2.2em;
    background: rgb(172, 84, 84);
    border: 0;
    opacity: 0.6;
  }
  100% {
    width: 2.2em;
    height: 2.2em;
    background: rgb(172, 84, 84);
    border: 0;
    opacity: 1;
  }
}
@keyframes check {
  0% {
    width: 1.5em;
    height: 1.5em;
    border-width: 5px;
  }
  10% {
    width: 1.5em;
    height: 1.5em;
    opacity: 0.1;
    background: rgba(0, 0, 0, 0.2);
    border-width: 15px;
  }
  12% {
    width: 1.5em;
    height: 1.5em;
    opacity: 0.4;
    background: rgba(0, 0, 0, 0.1);
    border-width: 0;
  }
  50% {
    width: 2.2em;
    height: 2.2em;
    background: rgb(172, 84, 84);
    border: 0;
    opacity: 0.6;
  }
  100% {
    width: 2.2em;
    height: 2.2em;
    background: rgb(172, 84, 84);
    border: 0;
    opacity: 1;
  }
}
/* /Cool checkbox */

/* Search bar */
.top_search{
    width: 50%;
    margin-top: 20px;
}

.budgeter-wrapper{
    padding-left: 20px;
    padding-bottom: 90px;
}
/* Budgeter table */
.budgeter {
    width: 87%;
    margin: 0 auto;
}


thead th:not(:first-child) {
    text-align: center;
}

thead th {
    text-transform: uppercase;
}

tbody td:not(:first-child){
    text-align: center;
}

tbody td.amount {
    width: 15%;
}

.options{
  width: 100px;
  font-size: 145%;
}

.options i {
    cursor:pointer;
    margin-right: 5px;
}

.expense {
    padding-left: 20px;
}

.expenseNotes, .expenseDetails #expenseId, .hide {
  display: none;
}

.fixed {
  position: fixed;
}
/* /Budgeter table */

body {
  position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

.expenseDetails {
    width: 30%;
    height: 100vh;
    position: fixed;
    top: 0; 
    right: 0;
    background-color: white;
    z-index: 11; /* 1px higher than the overlay layer */
    overflow-y: scroll;
}

.expenseDetails form {
  width: 85%;
  margin: 0 auto;
  margin-top: 55px;
}

.bold {
    font-weight: 700;
}

.expenseDetails form #expenseNotes {
  width: 300px;
  height: 150px;
  resize: none;
}

.expenseDetails .label {
  transform: scale(1.8);
}

.expenseDetails .removeExpense {
  border-radius: 50%;
  margin-left:10px; 
}

.addExpense{
  position: fixed;
  border-radius: 50%;
  z-index: 2;
  width: 50px;
  height: 50px;
  bottom: 10px;
  right: 10px;
  font-size: 25px;
}

.dismissIcon{
  background: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 48px;
  color: black;
}
