/* /Large devices (desktops, 992px and up) */
@media (max-width: 1200px) { 
    .cool-box{
        width: fit-content;
        margin-bottom: 5px;
    }

    #myNavBar{
        padding-left: 30px;
        padding-bottom: 20px;
        padding-top: 10px;
        width: 100%;
        background-color:#A76B57; 
    }

}

@media (max-width: 768px) {
    .theProgress {
        width: 80px;
        height: 80px;
    }

    .pg_description{
        font-size: 135%;
        margin-top:0;
    }

    .progress-card{
        padding-left: 0;
    }

    .options{
        font-size:100%;
    }

    .taskDetails{
        width: 100%;
    }

    .dismissIcon{
        font-size: 30px;
    }
}

@media (min-width: 768px) {
    .theProgress {
        width: 80px;
        height: 80px;
    }

    .pg_description{
        font-size: 135%;
        margin-top:0;
    }

    .progress-card{
        padding-left: 0;
    }

    .taskDetails{
        width: 40%;
    }

    .dismissIcon{
        font-size: 30px;
    }

    
}