/* Font imports */
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');


html {
	font-family: sans-serif;
}

/* 
*
* Utility classes
*
*/
.hidden {
	display: none;
}

.btn {	 	
 	color: whitesmoke;
 	font-size:18px;
 	border-radius: 20px;
}

.btn-primary {
 	background: #C99381;	
}

.btn-danger {
	background: rgb(211, 36, 23);
}

.btn-warning {
	background: rgb(173, 103, 37)
}
/* End of utility classes */

/* Start of the index page */
#index-page{
	background-attachment: fixed;
  	background-repeat: no-repeat;
  	background-size: cover;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url("../assets/image/wedding-dress-suit.jpeg");
	overflow: hidden;
}

.form-wrapper{
	width : 320px;
	height :420px;
	background: transparent;
	color: #F3CBBD;
	top :50%;
	left: 50%;
	position: absolute;
	transform : translate(-50%,-50%);
	box-sizing:border-box;
	padding: 70px 30px;
}

::placeholder, label{
	color:#C99381;
}

 .form-wrapper input{
 	width: 100%;
 	margin-bottom: 20px;
 }

 .form-wrapper input[type="text"], input[type="password"], input[type="email"]{
 	border: none;
 	border-bottom: 1px solid #fff;
 	background: transparent;
 	outline:none;
 	height:40px;
 	color: #C99381;
 	font-size:16px;
 }

 .form-wrapper input[type="submit"]{
 	border:none;
 	outline:none;
 	height:40px;
 	background: #C99381;
 	color: whitesmoke;
 	font-size:18px ;
 	border-radius: 20px;
 }

.form-wrapper input[type = "submit"]:hover, .btn:hover{
	cursor: pointer;
	background: #854A36;
}

.form-wrapper a {
	text-decoration: none;
	font-size:110%;
	color:#C99381;
	padding-left: 40px;
}

.form-wrapper a:hover{
	color: #F3CBBD;
}

.logo{
	width :100px;
	height : 100px;
	border-radius:50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

#btn-signUp, #btn-login {
	float: right;
	margin-top: 15px;
	margin-right: 20px;
 	border:none;
 	outline:none;
 	width: 150px;
 	height:40px; 	
 }

 /* Start of the account-setup page */
 #header {
	 font-family: 'Kaushan Script', cursive;
	 color: #C99381;
	 font-size: 200%;
	 text-align: center;
	}
#index-page2{
	background-color: ;
	text-align:left;
	top:20px;
	margin-left: 1px;
}


#index-page2{
	background-attachment: fixed;
  	background-repeat: no-repeat;
  	background-size: cover;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(../backgroundphoto3.jpg);
	overflow: hidden;
}
#myProgress {
  width: 100%;
  background-color: #db9833;
}

#myBar {
  width: 70%;
  height: 10px;
  background-color: #C99381;
}

#myProgress1 {
  width: 100%;
  background-color: #db9833;
}

#myBar1 {
  width: 0%;
  height: 10px;
  background-color: #C99381;
}

#myProgress2 {
  width: 100%;
  background-color: #db9833;
}

#myBar2 {
  width: 50%;
  height: 10px;
  background-color: #C99381;
}
#font
{
	margin-left: 50px
	font-size: 100;
}
.wrapper
{
	text-align: center;
}
.btn-position
{
position: absolute;
    top: 80%;
}
#bottom-comment{
	 font-family: 'Kaushan Script', cursive;
	 color: #C99381;
	 font-size: 200%;
	 margin-left: 50px;
	 
}

#form-wrapper1 input[type="text"] 
{

 	border: none;
 	border-bottom: 1px solid #fff;
 	background: transparent;
 	outline:none;
 	height:40px;
 	color: #C99381;
 	font-size:16px;
 }
#form-wrapper1
{
	/*text-align: center;*/
	margin-left: 50px;
}

#form-wrapper2
{
	/*text-align: center;*/
	margin-left: 50px;
}
.text-input
{
	margin-left: 60px;
}
#form-wrapper2 input[type="text"] 
{

 	border: none;
 	border-bottom: 1px solid #fff;
 	background: transparent;
 	outline:none;
 	height:40px;
 	color: #C99381;
 	font-size:16px;
 }
 #form-wrapper3 input[type="text"] 
{

 	border: none;
 	border-bottom: 1px solid #fff;
 	background: transparent;
 	outline:none;
 	height:40px;
 	color: #C99381;
 	font-size:16px;
 }
#form-wrapper3
{
	/*text-align: center;*/
	margin-left: 50px;
}

.option-edit 
{
	color:#C99380;
	width: 100px;
height: 20px;
overflow: hidden;
border-top:transparent; 
outline: none;
border-bottom: 1px solid #fff;
border: none;
-webkit-border-radius: 4px 4px 4px 4px;
 -moz-border-radius: 4px 4px 4px 4px;
      border-radius: 4px 4px 4px 4px;
      /*moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
      -moz-box-shadow:    0px 8px 3px -9px #000000;
      -webkit-box-shadow: 0px 8px 3px -9px #000000;
      box-shadow:         0px 8px 3px -9px #000000;*/
}
.date{
	border: none;
 	border-bottom: 1px solid #fff;
 	background: transparent;
 	outline:none;
 	height:40px;
 	color: #C99381;
 	font-size:16px;

}
#wrapp
{
	font-family: 'Kaushan Script', cursive;
	 color: #C99381;
	 font-size: 200%;
	 text-align: center;
}
#wrapp
{
	text-align: center;
	top:50%;
}